language: elixir
elixir:
  - 1.4.2
otp_release:
  - 18.2
env:
  global:
    - CC_TEST_REPORTER_ID=871a78f3199b36b65af5e00b9395319d971d3c85e467450b53b386335a60a261
    - GIT_COMMITTED_AT=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git log -1 --pretty=format:%ct; else git log -1 --skip 1 --pretty=format:%ct; fi)   
before_script: 
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-excoveralls-rc1.0-linux-amd64 > ./cc-test-reporter 
- chmod +x ./cc-test-reporter 
- ./cc-test-reporter before-build
script:
  - "MIX_ENV=test mix do deps.get, compile, coveralls.json"
after_script: 
- ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
